.icons {
  height: 16px;
}

.completed-icon, .uncompleted-icon {
  height: 16px;
  margin-right: 4px;
}

.delete-icon {
  height: 16px;
}

.completed-icon:hover, .uncompleted-icon:hover, .delete-icon:hover {
  height: 20px;
}

.task-completion.done {
  text-decoration: line-through;
}

.task-editable-input {
  width: 220px;
  height: 20px;
  border: 1px solid #8b98af;
  border-radius: 2px;
  padding-left: 5px;
}